/* img {
    position: absolute;
    top: 90px;
    left: 700px;
    margin: 0 auto;
}
#logo {

    width: 8rem;
    height: 8rem;
} */
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: flex-end */
    gap:10px;
    font-size:25px;
}
.d-block{
    display:block;
}
.d-none{
    display:none;
}